/* ===================== HERO ===================== */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 60px 8%;
}

/* ===================== IMAGE ===================== */

.hero img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

/* ===================== HEADING ===================== */

.hero h1 {
  text-align: center;
  max-width: 900px;
  font-size: 88px;
  font-weight: 900;
  line-height: 1.1;
}

.hero h1 span {
  background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ===================== TEXT ===================== */

.hero p {
  max-width: 650px;
  text-align: center;
  font-size: 22px;
  line-height: 34px;
}

/* ===================== ACTION ===================== */

.hero-action {
  display: flex;
  gap: 25px;
  font-size: 22px;
  margin-bottom: 40px;
}

.hero-connect{
    padding: 16px 35px;
    border-radius: 50px;
    background: linear-gradient(90deg,#a020f0,#ff7a18);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
}
.hero-connect a{
    text-decoration: none;
    color: white;
    display: inline-block;
}

.hero-connect {
  background: linear-gradient(264deg, #DF8908, #B415FF);
}

.hero-connect:hover {
  border: 2px solid #fff;
   transform: scale(1.05);
}

/* ===================== TABLET ===================== */

@media (max-width: 1024px) {
  .hero h1 {
    font-size: 64px;
  }

  .hero p {
    font-size: 20px;
    max-width: 550px;
  }

  .hero-action {
    font-size: 20px;
  }
}

/* ===================== MOBILE ===================== */

@media (max-width: 768px) {
  .hero {
    padding: 40px 20px;
    gap: 30px;
  }

  .hero img {
    width: 160px;
    height: 160px;
  }

  .hero h1 {
    font-size: 42px;
    max-width: 100%;
  }

  .hero p {
    font-size: 16px;
    line-height: 26px;
    max-width: 100%;
  }

  .hero-action {
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }

  .hero-connect,
  .hero-resume {
    width: 100%;
    padding: 14px 0;
    text-align: center;
    font-size: 16px;
  }
}
